h1{
    font-size: 50px;
}

h2{
    font-size: 30px;
}

body{
    font-family: 'Karla', sans-serif;
    margin: 0px;
}

p{
    font-size: 18px;
    text-align: justify;
}

.pdng-right{
    padding-right: 20%;
}

.padng-left{
    padding-left: 20%;
}

.color-orange{
    color: darkorange;
}

.blue{
    color: darkblue;
}

.color-whiteSmoke{
    color: whitesmoke;
}

.container{
    display: flex;
    margin-bottom: 130px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}

.half-width img{
    width: 80%;
}

.linked-button{
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding: 10px 40px;
    color: whitesmoke;
    font-weight: 700;
    border-radius: 20px;
}

.sectionTwoBanner{
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
}

.align-center{
    text-align: center;
}

.list-font{
    font-size: 22px;
}

.box-model{
    width: 30%;
    margin: 4%;
    border-radius: 5%;
    padding-left: 3%;
    padding-right: 3%;
    box-shadow: 7px 7px 7px 7px gray;
}

.pics{
    border-radius: 10%;
}

.sectionFive{
    background-image: url(images/shapes/Frame58.jpg);
    background-repeat: no-repeat;
}

.sectionFive-button{
    background-image: linear-gradient(darkblue cyan);
    color: black;
    padding: 10px 40px;
    font-weight: 700;
    text-decoration: none;
    border-radius: 15px;
}

.box-two{
    width: 50%;
    margin: 10%;
    border-radius: 5%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 5px 5px 5px 5px gray;
}

footer{
    height: 50%;
    width: 100%;
    background-color: black;
    color: whitesmoke;
}